<div class="container">
        <div class="row">
               
                <div class="col-lg-4">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quos accusantium voluptates temporibus ab accusamus cumque sunt labore enim unde culpa autem explicabo, vitae iure dolor. Quaerat, commodi mollitia! Molestiae beatae fuga voluptatum, neque itaque dolor nobis cumque accusantium sint?</p>
                </div>

                <div class="col-lg-4">
              
                    <cite title="Source Title">Source Title</cite>       
                </div>

                    <div class="col-lg-4">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quos accusantium voluptates temporibus ab accusamus cumque sunt labore enim unde culpa autem explicabo, vitae iure dolor. Quaerat, commodi mollitia! Molestiae beatae fuga voluptatum, neque itaque dolor nobis cumque accusantium sint?</p>
                </div>
        </div>
</div>

