<div class="footer footer-expand-lg footer-dark bg-dark bg-inverse ">

        <div class="columna ">
          <p>Gobernación de Cundinamarca</p>
          <p>Nit Departamento de Cundinamarca: 899.999.114-0</p>
    
        </div>
    
        <div class="columna">
          <p><a href="http://www.cundinamarca.gov.co/">Gobernación de Cundinamarca</a></p>
          <p><a href="http://www.cundinamarca.gov.co/">Gobernación en linea</a></p>
          <p><a href="http://www.cundinamarca.gov.co/">MinTIC</a></p>
        </div>
    
        <div class="columna">
        <p>El presente aplicativo web, es un desarrolló institucional de Hospital San Rafael de Pacho, que busca la mejora al derecho y bienestar de la salud de sus usuarios. Gestado desde el 2016, ha tenido una evolución progresiva de la cuál esperamos tenga una agradable experiencia digital.</p> 
        <p><a href="http://www.cundinamarca.gov.co/">#TuBienestar</a></p> 
        </div>
    
    </div>