.container{
    height: 500px;
    vertical-align: middle;
    text-justify: auto;
    text-align: center;
    padding: 30px;
}


.container h1{
    text-align: center;
    color: rgb(119, 111, 111);
    padding: 500px;

}