.container{
    padding: 10px;
    height: 200px;
 
    vertical-align: middle;
}

.container h1{
    color:#FFff;
}

.container p{
    color:#FFff;
}

.container-hijo{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    vertical-align: middle;
}