.container{
    padding: 10px;
    height: 200px;
    
}

.container h1{
    color:#FFff;
}

.container p{
    color:#FFff;
}

.container article{
    vertical-align: middle;
    text-align: center;

}

