
  <div class="container">

    <div class="row" >
     
      <div class="col-lg-4"  style="background-color:rgb(62, 130, 207)">
        <br>
        <h1>Usuarios</h1> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem suscipit voluptates voluptatibus facere exercitationem quidem dolorum harum nulla corporis! Nostrum necessitatibus cumque illo! Dicta explicabo beatae mollitia itaque distinctio veritatis dolores saepe, perferendis, a corrupti est dignissimos cum quas nam magni vero nihil ipsum ut ratione ullam maxime unde. Ratione, vero! Hic nemo, excepturi maxime cupiditate cumque dicta recusandae blanditiis perspiciatis eligendi illo saepe facilis veritatis sint laboriosam, nam maiores porro esse totam ex corporis mollitia, exercitationem consequuntur! Quisquam quo non perspiciatis eaque, quos blanditiis? Voluptates delectus vero necessitatibus odio unde! Incidunt soluta assumenda aspernatur iste, mollitia earum dicta omnis.</p>
        <form class = "form-inline my-lg-2">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Ingresa como usuario!</button>   
        </form>
      </div>
      
      <br>

      <div class=" hijo col-lg-4">
       
        <article >Esta es una prueba de bootstrap</article>

        
      </div>

      <div class="col-lg-4"  style="background-color:rgb(236, 49, 109)">
      <br>
        <h1>Medicos</h1> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem suscipit voluptates voluptatibus facere exercitationem quidem dolorum harum nulla corporis! Nostrum necessitatibus cumque illo! Dicta explicabo beatae mollitia itaque distinctio veritatis dolores saepe, perferendis, a corrupti est dignissimos cum quas nam magni vero nihil ipsum ut ratione ullam maxime unde. Ratione, vero! Hic nemo, excepturi maxime cupiditate cumque dicta recusandae blanditiis perspiciatis eligendi illo saepe facilis veritatis sint laboriosam, nam maiores porro esse totam ex corporis mollitia, exercitationem consequuntur! Quisquam quo non perspiciatis eaque, quos blanditiis? Voluptates delectus vero necessitatibus odio unde! Incidunt soluta assumenda aspernatur iste, mollitia earum dicta omnis.</p>
      <!--Boton-->
        <form class = "form-inline my-lg-2">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Ingresa como Médico!</button>   
        </form>
      <br>
        
      </div>
    </div>
  </div> 